In [1]:
a = (1, 2)
print(a)
print(type(a))

(1, 2)
<class 'tuple'>

In [2]:
b, c = 3, 4   # These are simple integer variables
print(b)
print(c)
e = 5, 6    # This is a tuple
print(e)
print(type(e))

3
4
(5, 6)
<class 'tuple'>

In [5]:
print(e[-1])
print(e[-2])

6
5

In [7]:
f=(1, 2, 3, 4, 5, 6)
f[3:]

(4, 5, 6)

In [8]:
del f[4]    # Tuples are immutable that is we cannot add any item to it or delete any item from it

TypeError: ignored

In [9]:
del f   # The tuple has been deleted

In [10]:
f   # The tuple has been deleted so it does not exist and hence it throws an error

NameError: ignored