In [5]:
def sum(a, b, c=0, d=0, e=0):
    return a + b + c + d + e
sum(1, 2, 3, 4, 5)

15

In [2]:
def sum2(a,b,*more):
    print(a)
    print(b)
    print(type(more))
    ans = a + b
    for i in more:
        ans = ans + i
    return ans
sum2(2,3,4,5)

2
3
<class 'tuple'>

14

In [8]:
def calc(a, b):
    return a + b, a - b, a * b
c = calc(4, 1)
c

(5, 3, 4)

In [11]:
d, e, f = calc(5, 2)
print(d)
print(e)
print(f)

7
3
10