In [1]:
a=(1,2,3)
b=4,5

In [2]:
print(a)
print(b)

(1, 2, 3)
(4, 5)

In [3]:
# Using for loop for accesing the elements of a tuple
for i in a:
    print(i)

1
2
3

In [4]:
1 in a

True

In [5]:
1 in b

False

In [6]:
len(a)

3

In [7]:
len(b)

2

In [8]:
# Concatenation
c = a + b
c

(1, 2, 3, 4, 5)

In [9]:
d=(a,b)
d

((1, 2, 3), (4, 5))

In [10]:
# Repetation
e = a * 4
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [11]:
max(a)

3

In [1]:
a2=(1,2,(1,2))
a3=(1,2.2)
print(a2)
print(a3)

(1, 2, (1, 2))
(1, 2.2)

In [3]:
min(a2)

TypeError: ignored

In [4]:
min(a3)

1

In [5]:
# Converting list to tuple
list=[1,2,3,4]
tuple(list)

(1, 2, 3, 4)