In [1]:
import sqlite3
db = sqlite3.connect('School.sqlite')
db

In [2]:
cur = db.cursor()
cur

In [3]:
sql_query = 'Create table Student (RollNumber int Primary Key, Name Text, Age int)'
cur.execute(sql_query)

In [4]:
values = [(101, "Aman", 20), (102, "Amit", 20), (103, "Mohit", 19), (104, "Nikhil", 19), (105, "Nidhi", 18), (106, "Manisha", 18), (107, "Ankush", 20)]
cur.executemany('Insert into Student values (?, ?, ?)', values)
db.commit()

In [10]:
cur.execute('Select * from Student')

In [11]:
for row in cur:
  print(row)

(101, 'Aman', 20)
(102, 'Amit', 20)
(103, 'Mohit', 19)
(104, 'Nikhil', 19)
(105, 'Nidhi', 18)
(106, 'Manisha', 18)
(107, 'Ankush', 20)

In [12]:
cur.execute('Select * from Student')
cur.fetchone()

(101, 'Aman', 20)

In [21]:
# Print multiple queries using "fetchone()"
cur.execute('Select * from Student')
print(cur.fetchone())
print(cur.fetchone())

(101, 'Aman', 20)
(102, 'Amit', 20)

In [18]:
cur.execute('Select * from Student')
cur.fetchmany()

[(101, 'Aman', 20)]

In [22]:
# Print multiple queries using "fetchmany()"
cur.execute('Select * from Student')
print(cur.fetchmany(5))

[(101, 'Aman', 20), (102, 'Amit', 20), (103, 'Mohit', 19), (104, 'Nikhil', 19), (105, 'Nidhi', 18)]

In [23]:
# Print multiple queries using "fetchall()"
cur.execute('Select * from Student')
ans = cur.fetchall()
ans

[(101, 'Aman', 20),
 (102, 'Amit', 20),
 (103, 'Mohit', 19),
 (104, 'Nikhil', 19),
 (105, 'Nidhi', 18),
 (106, 'Manisha', 18),
 (107, 'Ankush', 20)]

In [25]:
# We can fetch data for conditional queries using the above methods.

In [26]:
db.close()