In [ ]:
import sqlite3
db = sqlite3.connect('School.sqlite')
db

In [ ]:
cur = db.cursor()
cur

In [ ]:
sql_query = 'Create table Student (RollNumber int Primary Key, Name Text, Age int)'
cur.execute(sql_query)

In [ ]:
cur.execute('Insert into Student values (103, "Mohit", 18)')
db.commit()

In [ ]:
rollNumber = 104
Name = "Nikhil"
Age = 19

cur.execute('Insert into Student values (?, ?, ?)', (rollNumber, Name, Age))
db.commit()

In [ ]:
values = [(105, "Nidhi", 20), (106, "Manisha", 20), (107, "Ankush", 19)]
cur.executemany('Insert into Student values (?, ?, ?)', values)
db.commit()

In [ ]:
# Updation queries
cur.execute('Update Student set Age = 19')
db.commit()

In [ ]:
cur.execute('Update Student set Age = 20 where RollNumber = 104')
db.commit()

In [ ]:
new_age = 20
cur.execute('Update Student set Age = ? where RollNumber = 103', (new_age,))  # We use "," to make it a tuple explicitly
db.commit()

In [ ]:
db.close()