In [ ]:
import sqlite3
import pandas as pd

db = sqlite3.connect('School.sqlite')
db

In [ ]:
cur = db.cursor()
cur

In [ ]:
sql_query = 'Create table Student (RollNumber int Primary Key, Name Text, Age int)'
cur.execute(sql_query)

In [ ]:
values = [(101, "Aman", 20), (102, "Amit", 20), (103, "Mohit", 19), (104, "Nikhil", 19), (105, "Nidhi", 18), (106, "Manisha", 18), (107, "Ankush", 20)]
cur.executemany('Insert into Student values (?, ?, ?)', values)
db.commit()

In [ ]:
data = pd.read_sql_query("Select * from Student", db)
data

   RollNumber     Name  Age
0         101     Aman   20
1         102     Amit   20
2         103    Mohit   19
3         104   Nikhil   19
4         105    Nidhi   18
5         106  Manisha   18
6         107   Ankush   20

In [ ]:
data['Age'] == 20

0     True
1     True
2    False
3    False
4    False
5    False
6     True
Name: Age, dtype: bool

In [ ]:
data[data['Age'] == 20]

   RollNumber    Name  Age
0         101    Aman   20
1         102    Amit   20
6         107  Ankush   20

In [ ]:
df = pd.DataFrame([[201, "Aman", "English", 20000], [202, "Komal", "Maths", 22000], [203, "Mahesh", "Science", 24000]], columns = ["Faculty_ID", "Name", "Course", "Salary"])
df

   Faculty_ID    Name   Course  Salary
0         201    Aman  English   20000
1         202   Komal    Maths   22000
2         203  Mahesh  Science   24000

In [ ]:
df.to_sql("Faculty", db)

In [ ]:
data = pd.read_sql_query("Select * from Student", db)
data["Address"] = "New Delhi"
data

   RollNumber     Name  Age    Address
0         101     Aman   20  New Delhi
1         102     Amit   20  New Delhi
2         103    Mohit   19  New Delhi
3         104   Nikhil   19  New Delhi
4         105    Nidhi   18  New Delhi
5         106  Manisha   18  New Delhi
6         107   Ankush   20  New Delhi

In [ ]:
data.to_sql("Student", db, if_exists = "replace")

In [ ]:
db.close()