In [1]:
import sqlite3
db = sqlite3.connect('IMDB.sqlite')
db

In [2]:
# Our connection has been established successfully. The connection object "db" is being  referenced to the memory location "0x7f2dbc855030"

In [3]:
# If we pass the path of an object (that does not exist) in the connect() function -> We don't get any error. We get a random reference to which the connection object is pointing. The file (empty) with the specified name is created in the directory.

In [4]:
# Creating a new database
db = sqlite3.connect('School.sqlite')
db

In [5]:
# Creating the cursor object (for executing SQL querires)
cur = db.cursor()
cur

In [8]:
# Creating a table
sql_query = 'Create table Student (RollNumber int Primary Key, Name Text, Age int)'
cur.execute(sql_query)

In [9]:
# Inserting rows in the table
cur.execute('Insert into Student values (101, "Aman", 20)')
db.commit()

In [10]:
cur.execute('Insert into Student values (102, "Amit", 19)')
db.commit()

In [11]:
# Closing the database connection
db.close()