In [43]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [44]:
import pandas as pd

In [45]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [46]:
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [47]:
df = iris.copy()
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [48]:
df.head()   # takes argument = n that is equal to the number of rows

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [49]:
df.tail()

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [50]:
df.shape

(149, 5)

In [51]:
df.dtypes

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [52]:
df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [53]:
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'flower_type']

In [54]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  flower_type
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [55]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
flower_type      object
dtype: object

In [56]:
df.describe()   # If a row for a column did not have a valid value(NaN) then the count decreases by 1

       sepal_length  sepal_width  petal_length  petal_width
count    149.000000   149.000000    149.000000   149.000000
mean       5.848322     3.051007      3.774497     1.205369
std        0.828594     0.433499      1.759651     0.761292
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [57]:
df["sepal_length"]    # df["column_name"]

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sepal_length, Length: 149, dtype: float64

In [58]:
df.sepal_length   # df.column_name

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sepal_length, Length: 149, dtype: float64

In [59]:
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  flower_type
0           False        False         False        False        False
1           False        False         False        False        False
2           False        False         False        False        False
3           False        False         False        False        False
4           False        False         False        False        False
..            ...          ...           ...          ...          ...
144         False        False         False        False        False
145         False        False         False        False        False
146         False        False         False        False        False
147         False        False         False        False        False
148         False        False         False        False        False

[149 rows x 5 columns]

In [60]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
flower_type     0
dtype: int64

In [61]:
# Suppose we want to take a slice of our data frame
df.iloc[0:149,0:5]    # First element take slice for number of rows which means start to end - 1. Second element take slice for number of columns which means start to end - 1

     sepal_length  sepal_width  petal_length  petal_width     flower_type
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

In [62]:
df.head()   # Here we have column headers and labels

   sepal_length  sepal_width  petal_length  petal_width  flower_type
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [63]:
df.drop(0, inplace = True)    # This deletes the first row

In [64]:
df.head()   # The above command works for label

   sepal_length  sepal_width  petal_length  petal_width  flower_type
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa

In [65]:
df.index    # To get the labels

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=148)

In [66]:
df.index[0]   # Gives the row at position 0

1

In [67]:
# We can pass like this also while deletion df.drop(df.index[[start, end + 1]], inplace = True) . This is used when we want to delete more than 1 rows

In [68]:
df.sepal_length > 3

1      True
2      True
3      True
4      True
5      True
       ...
144    True
145    True
146    True
147    True
148    True
Name: sepal_length, Length: 148, dtype: bool

In [69]:
df[df.sepal_length > 5]

     sepal_length  sepal_width  petal_length  petal_width     flower_type
4             5.4          3.9           1.7          0.4     Iris-setosa
9             5.4          3.7           1.5          0.2     Iris-setosa
13            5.8          4.0           1.2          0.2     Iris-setosa
14            5.7          4.4           1.5          0.4     Iris-setosa
15            5.4          3.9           1.3          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[117 rows x 5 columns]

In [70]:
df[df.flower_type == 'Iris-setosa']

    sepal_length  sepal_width  petal_length  petal_width  flower_type
1            4.7          3.2           1.3          0.2  Iris-setosa
2            4.6          3.1           1.5          0.2  Iris-setosa
3            5.0          3.6           1.4          0.2  Iris-setosa
4            5.4          3.9           1.7          0.4  Iris-setosa
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           1.6          0.2  Iris-setosa
11           4.8          3.0           1.4          0.1  Iris-setosa
12           4.3          3.0           1.1          0.1  Iris-setosa
13           5.8          4.0           1.2          0.2  Iris-setosa
14           5.7          4.4           1.5          0.4  Iris-setosa
15           5.4          3.9           1.3          0.4  Iris-setosa
16           5.1          3.5           1.4          0.3  Iris-setosa
17           5.7          3.8           1.7          0.3  Iris-setosa
18           5.1          3.8           1.5          0.3  Iris-setosa
19           5.4          3.4           1.7          0.2  Iris-setosa
20           5.1          3.7           1.5          0.4  Iris-setosa
21           4.6          3.6           1.0          0.2  Iris-setosa
22           5.1          3.3           1.7          0.5  Iris-setosa
23           4.8          3.4           1.9          0.2  Iris-setosa
24           5.0          3.0           1.6          0.2  Iris-setosa
25           5.0          3.4           1.6          0.4  Iris-setosa
26           5.2          3.5           1.5          0.2  Iris-setosa
27           5.2          3.4           1.4          0.2  Iris-setosa
28           4.7          3.2           1.6          0.2  Iris-setosa
29           4.8          3.1           1.6          0.2  Iris-setosa
30           5.4          3.4           1.5          0.4  Iris-setosa
31           5.2          4.1           1.5          0.1  Iris-setosa
32           5.5          4.2           1.4          0.2  Iris-setosa
33           4.9          3.1           1.5          0.1  Iris-setosa
34           5.0          3.2           1.2          0.2  Iris-setosa
35           5.5          3.5           1.3          0.2  Iris-setosa
36           4.9          3.1           1.5          0.1  Iris-setosa
37           4.4          3.0           1.3          0.2  Iris-setosa
38           5.1          3.4           1.5          0.2  Iris-setosa
39           5.0          3.5           1.3          0.3  Iris-setosa
40           4.5          2.3           1.3          0.3  Iris-setosa
41           4.4          3.2           1.3          0.2  Iris-setosa
42           5.0          3.5           1.6          0.6  Iris-setosa
43           5.1          3.8           1.9          0.4  Iris-setosa
44           4.8          3.0           1.4          0.3  Iris-setosa
45           5.1          3.8           1.6          0.2  Iris-setosa
46           4.6          3.2           1.4          0.2  Iris-setosa
47           5.3          3.7           1.5          0.2  Iris-setosa
48           5.0          3.3           1.4          0.2  Iris-setosa

In [71]:
df[df.flower_type == 'Iris-setosa'].describe()

       sepal_length  sepal_width  petal_length  petal_width
count     48.000000    48.000000     48.000000    48.000000
mean       5.006250     3.425000      1.466667     0.245833
std        0.359317     0.383988      0.176651     0.109074
min        4.300000     2.300000      1.000000     0.100000
25%        4.800000     3.175000      1.400000     0.200000
50%        5.000000     3.400000      1.500000     0.200000
75%        5.200000     3.700000      1.600000     0.300000
max        5.800000     4.400000      1.900000     0.600000

In [72]:
df.iloc[0]    # Gives the details of the 0th row

sepal_length            4.7
sepal_width             3.2
petal_length            1.3
petal_width             0.2
flower_type     Iris-setosa
Name: 1, dtype: object

In [73]:
df.loc[1]   # Gives the row with label as 1

sepal_length            4.7
sepal_width             3.2
petal_length            1.3
petal_width             0.2
flower_type     Iris-setosa
Name: 1, dtype: object

In [74]:
# Add a row
df.loc[149] = [1, 2, 3, 4, "Iris-setosa"]

In [75]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width     flower_type
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica
149           1.0          2.0           3.0          4.0     Iris-setosa

In [76]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64', length=149)

In [77]:
df.reset_index()

,index,sepal_length,sepal_width,petal_length,petal_width,flower_type
0,1,4.7,3.2,1.3,0.2,Iris-setosa
1,2,4.6,3.1,1.5,0.2,Iris-setosa
2,3,5.0,3.6,1.4,0.2,Iris-setosa
3,4,5.4,3.9,1.7,0.4,Iris-setosa
4,5,4.6,3.4,1.4,0.3,Iris-setosa
...,...,...,...,...,...,...
144,145,6.3,2.5,5.0,1.9,Iris-virginica
145,146,6.5,3.0,5.2,2.0,Iris-virginica
146,147,6.2,3.4,5.4,2.3,Iris-virginica
147,148,5.9,3.0,5.1,1.8,Iris-virginica
148,149,1.0,2.0,3.0,4.0,Iris-setosa

In [78]:
df.reset_index(drop = True)

     sepal_length  sepal_width  petal_length  petal_width     flower_type
0             4.7          3.2           1.3          0.2     Iris-setosa
1             4.6          3.1           1.5          0.2     Iris-setosa
2             5.0          3.6           1.4          0.2     Iris-setosa
3             5.4          3.9           1.7          0.4     Iris-setosa
4             4.6          3.4           1.4          0.3     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.3          2.5           5.0          1.9  Iris-virginica
145           6.5          3.0           5.2          2.0  Iris-virginica
146           6.2          3.4           5.4          2.3  Iris-virginica
147           5.9          3.0           5.1          1.8  Iris-virginica
148           1.0          2.0           3.0          4.0     Iris-setosa

[149 rows x 5 columns]

In [79]:
df.reset_index(drop = True, inplace = True)   # Gives the correct order of dataframe after adding rows and not the sorted order

In [80]:
df.index

RangeIndex(start=0, stop=149, step=1)

In [81]:
# Default axis for drop is 0 which is for row labels it finds
df.drop('sepal_length', axis = 1, inplace = True)   # Deleting a column and we use inplace so that the dataframe is updated

In [82]:
df.describe()

       sepal_width  petal_length  petal_width
count   149.000000    149.000000   149.000000
mean      3.044295      3.785235     1.230872
std       0.441952      1.749918     0.790475
min       2.000000      1.000000     0.100000
25%       2.800000      1.600000     0.300000
50%       3.000000      4.400000     1.300000
75%       3.300000      5.100000     1.800000
max       4.400000      6.900000     4.000000

In [83]:
# Alternate method for deleting a column
del df['sepal_width']

In [84]:
df.describe()

       petal_length  petal_width
count    149.000000   149.000000
mean       3.785235     1.230872
std        1.749918     0.790475
min        1.000000     0.100000
25%        1.600000     0.300000
50%        4.400000     1.300000
75%        5.100000     1.800000
max        6.900000     4.000000

In [85]:
df = iris.copy()
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'flower_type']
df

     sepal_length  sepal_width  petal_length  petal_width     flower_type
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

In [86]:
df["petal_length - petal_width"] = df["petal_length"] - df["petal_width"]

In [87]:
df

,sepal_length,sepal_width,petal_length,petal_width,flower_type,petal_length - petal_width
0,4.9,3.0,1.4,0.2,Iris-setosa,1.2
1,4.7,3.2,1.3,0.2,Iris-setosa,1.1
2,4.6,3.1,1.5,0.2,Iris-setosa,1.3
3,5.0,3.6,1.4,0.2,Iris-setosa,1.2
4,5.4,3.9,1.7,0.4,Iris-setosa,1.3
...,...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica,2.9
145,6.3,2.5,5.0,1.9,Iris-virginica,3.1
146,6.5,3.0,5.2,2.0,Iris-virginica,3.2
147,6.2,3.4,5.4,2.3,Iris-virginica,3.1
148,5.9,3.0,5.1,1.8,Iris-virginica,3.3

In [88]:
import numpy as np
df.iloc[2:4, 1:3] = np.nan
df

,sepal_length,sepal_width,petal_length,petal_width,flower_type,petal_length - petal_width
0,4.9,3.0,1.4,0.2,Iris-setosa,1.2
1,4.7,3.2,1.3,0.2,Iris-setosa,1.1
2,4.6,NaN,NaN,0.2,Iris-setosa,1.3
3,5.0,NaN,NaN,0.2,Iris-setosa,1.2
4,5.4,3.9,1.7,0.4,Iris-setosa,1.3
...,...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica,2.9
145,6.3,2.5,5.0,1.9,Iris-virginica,3.1
146,6.5,3.0,5.2,2.0,Iris-virginica,3.2
147,6.2,3.4,5.4,2.3,Iris-virginica,3.1
148,5.9,3.0,5.1,1.8,Iris-virginica,3.3

In [89]:
df.describe()

,sepal_length,sepal_width,petal_length,petal_width,petal_length - petal_width
count,149.000000,147.000000,147.000000,149.000000,149.000000
mean,5.848322,3.046939,3.806122,1.205369,2.569128
std,0.828594,0.434048,1.750351,0.761292,1.047707
min,4.300000,2.000000,1.000000,0.100000,0.800000
25%,5.100000,2.800000,1.600000,0.300000,1.400000
50%,5.800000,3.000000,4.400000,1.300000,2.900000
75%,6.400000,3.300000,5.100000,1.800000,3.300000
max,7.900000,4.400000,6.900000,2.500000,4.700000

In [90]:
# Method 1
df.dropna(inplace = True)

In [91]:
df

,sepal_length,sepal_width,petal_length,petal_width,flower_type,petal_length - petal_width
0,4.9,3.0,1.4,0.2,Iris-setosa,1.2
1,4.7,3.2,1.3,0.2,Iris-setosa,1.1
4,5.4,3.9,1.7,0.4,Iris-setosa,1.3
5,4.6,3.4,1.4,0.3,Iris-setosa,1.1
6,5.0,3.4,1.5,0.2,Iris-setosa,1.3
...,...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica,2.9
145,6.3,2.5,5.0,1.9,Iris-virginica,3.1
146,6.5,3.0,5.2,2.0,Iris-virginica,3.2
147,6.2,3.4,5.4,2.3,Iris-virginica,3.1
148,5.9,3.0,5.1,1.8,Iris-virginica,3.3

In [92]:
df.reset_index(drop = True, inplace = True)

In [93]:
df

,sepal_length,sepal_width,petal_length,petal_width,flower_type,petal_length - petal_width
0,4.9,3.0,1.4,0.2,Iris-setosa,1.2
1,4.7,3.2,1.3,0.2,Iris-setosa,1.1
2,5.4,3.9,1.7,0.4,Iris-setosa,1.3
3,4.6,3.4,1.4,0.3,Iris-setosa,1.1
4,5.0,3.4,1.5,0.2,Iris-setosa,1.3
...,...,...,...,...,...,...
142,6.7,3.0,5.2,2.3,Iris-virginica,2.9
143,6.3,2.5,5.0,1.9,Iris-virginica,3.1
144,6.5,3.0,5.2,2.0,Iris-virginica,3.2
145,6.2,3.4,5.4,2.3,Iris-virginica,3.1
146,5.9,3.0,5.1,1.8,Iris-virginica,3.3

In [94]:
import numpy as np
df.iloc[2:4, 1:3] = np.nan
df

,sepal_length,sepal_width,petal_length,petal_width,flower_type,petal_length - petal_width
0,4.9,3.0,1.4,0.2,Iris-setosa,1.2
1,4.7,3.2,1.3,0.2,Iris-setosa,1.1
2,5.4,NaN,NaN,0.4,Iris-setosa,1.3
3,4.6,NaN,NaN,0.3,Iris-setosa,1.1
4,5.0,3.4,1.5,0.2,Iris-setosa,1.3
...,...,...,...,...,...,...
142,6.7,3.0,5.2,2.3,Iris-virginica,2.9
143,6.3,2.5,5.0,1.9,Iris-virginica,3.1
144,6.5,3.0,5.2,2.0,Iris-virginica,3.2
145,6.2,3.4,5.4,2.3,Iris-virginica,3.1
146,5.9,3.0,5.1,1.8,Iris-virginica,3.3

In [97]:
# Method 2

In [95]:
df.sepal_width.fillna(df.sepal_width.mean(), inplace = True)

In [96]:
df

,sepal_length,sepal_width,petal_length,petal_width,flower_type,petal_length - petal_width
0,4.9,3.000000,1.4,0.2,Iris-setosa,1.2
1,4.7,3.200000,1.3,0.2,Iris-setosa,1.1
2,5.4,3.038621,NaN,0.4,Iris-setosa,1.3
3,4.6,3.038621,NaN,0.3,Iris-setosa,1.1
4,5.0,3.400000,1.5,0.2,Iris-setosa,1.3
...,...,...,...,...,...,...
142,6.7,3.000000,5.2,2.3,Iris-virginica,2.9
143,6.3,2.500000,5.0,1.9,Iris-virginica,3.1
144,6.5,3.000000,5.2,2.0,Iris-virginica,3.2
145,6.2,3.400000,5.4,2.3,Iris-virginica,3.1
146,5.9,3.000000,5.1,1.8,Iris-virginica,3.3

In [98]:
df.petal_length.fillna(df.petal_length.mean(), inplace = True)

In [99]:
df

,sepal_length,sepal_width,petal_length,petal_width,flower_type,petal_length - petal_width
0,4.9,3.000000,1.400000,0.2,Iris-setosa,1.2
1,4.7,3.200000,1.300000,0.2,Iris-setosa,1.1
2,5.4,3.038621,3.837241,0.4,Iris-setosa,1.3
3,4.6,3.038621,3.837241,0.3,Iris-setosa,1.1
4,5.0,3.400000,1.500000,0.2,Iris-setosa,1.3
...,...,...,...,...,...,...
142,6.7,3.000000,5.200000,2.3,Iris-virginica,2.9
143,6.3,2.500000,5.000000,1.9,Iris-virginica,3.1
144,6.5,3.000000,5.200000,2.0,Iris-virginica,3.2
145,6.2,3.400000,5.400000,2.3,Iris-virginica,3.1
146,5.9,3.000000,5.100000,1.8,Iris-virginica,3.3

In [100]:
# String based data
df["Gender"] = "Fenmale"
df.iloc[0:10, 6] = "Male"

def func(string):   # This is the function we are going to pass and it takes a string as argument
  if string == "Male":
    return 0
  else:
    return 1
df["Sex"] = df.Gender.apply(func)   # Here we can apply a function on the string based data and get a seperate column containing output for the function applied

In [101]:
df

,sepal_length,sepal_width,petal_length,petal_width,flower_type,petal_length - petal_width,Gender,Sex
0,4.9,3.000000,1.400000,0.2,Iris-setosa,1.2,Male,0
1,4.7,3.200000,1.300000,0.2,Iris-setosa,1.1,Male,0
2,5.4,3.038621,3.837241,0.4,Iris-setosa,1.3,Male,0
3,4.6,3.038621,3.837241,0.3,Iris-setosa,1.1,Male,0
4,5.0,3.400000,1.500000,0.2,Iris-setosa,1.3,Male,0
...,...,...,...,...,...,...,...,...
142,6.7,3.000000,5.200000,2.3,Iris-virginica,2.9,Fenmale,1
143,6.3,2.500000,5.000000,1.9,Iris-virginica,3.1,Fenmale,1
144,6.5,3.000000,5.200000,2.0,Iris-virginica,3.2,Fenmale,1
145,6.2,3.400000,5.400000,2.3,Iris-virginica,3.1,Fenmale,1
146,5.9,3.000000,5.100000,1.8,Iris-virginica,3.3,Fenmale,1