##**Count of Flower**

Problem Statement

Find and print count of each kind of flower (separated by space)?

Note: Get the dataset from here

Print the count as Integer Value.

Output Format

count1 count2 count3 .....

In [1]:
import pandas as pd   
df=pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
print(int(df.variety.value_counts()['Setosa']),int(df.variety.value_counts()['Versicolor']),int(df.variety.value_counts()['Virginica']))

50 50 50

##**Iris Virginica**

Problem Statement

Find the data of flower “Iris-virginica” type where petal-length > 1.5?

Note: Get the dataset from here

Print the all the feature values.

Output Format

feature1 feature2 feature3 feature4 feature5

feature1 feature2 feature3 feature4 feature5

feature1 feature2 feature3 feature4 feature5

feature1 feature2 feature3 feature4 feature5

In [2]:
import pandas as pd   
df=pd.read_csv('https://files.codingninjas.in/iris-8116.csv?_ga=2.147866740.234039453.1659624921-456271772.1655977586')

df = df[(df.variety == 'Iris-virginica') & (df['petal.length'] > 1.5)]
for i in df.values:
    print(i[0],i[1],i[2],i[3],i[4])

6.3 3.3 6.0 2.5 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
7.1 3.0 5.9 2.1 Iris-virginica
6.3 2.9 5.6 1.8 Iris-virginica
6.5 3.0 5.8 2.2 Iris-virginica
7.6 3.0 6.6 2.1 Iris-virginica
4.9 2.5 4.5 1.7 Iris-virginica
7.3 2.9 6.3 1.8 Iris-virginica
6.7 2.5 5.8 1.8 Iris-virginica
7.2 3.6 6.1 2.5 Iris-virginica
6.5 3.2 5.1 2.0 Iris-virginica
6.4 2.7 5.3 1.9 Iris-virginica
6.8 3.0 5.5 2.1 Iris-virginica
5.7 2.5 5.0 2.0 Iris-virginica
5.8 2.8 5.1 2.4 Iris-virginica
6.4 3.2 5.3 2.3 Iris-virginica
6.5 3.0 5.5 1.8 Iris-virginica
7.7 3.8 6.7 2.2 Iris-virginica
7.7 2.6 6.9 2.3 Iris-virginica
6.0 2.2 5.0 1.5 Iris-virginica
6.9 3.2 5.7 2.3 Iris-virginica
5.6 2.8 4.9 2.0 Iris-virginica
7.7 2.8 6.7 2.0 Iris-virginica
6.3 2.7 4.9 1.8 Iris-virginica
6.7 3.3 5.7 2.1 Iris-virginica
7.2 3.2 6.0 1.8 Iris-virginica
6.2 2.8 4.8 1.8 Iris-virginica
6.1 3.0 4.9 1.8 Iris-virginica
6.4 2.8 5.6 2.1 Iris-virginica
7.2 3.0 5.8 1.6 Iris-virginica
7.4 2.8 6.1 1.9 Iris-virginica
7.9 3.8 6.4 2.0 Iris-virginica
6.4 2.8 5.6 2.2 Iris-virginica
6.3 2.8 5.1 1.5 Iris-virginica
6.1 2.6 5.6 1.4 Iris-virginica
7.7 3.0 6.1 2.3 Iris-virginica
6.3 3.4 5.6 2.4 Iris-virginica
6.4 3.1 5.5 1.8 Iris-virginica
6.0 3.0 4.8 1.8 Iris-virginica
6.9 3.1 5.4 2.1 Iris-virginica
6.7 3.1 5.6 2.4 Iris-virginica
6.9 3.1 5.1 2.3 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
6.8 3.2 5.9 2.3 Iris-virginica
6.7 3.3 5.7 2.5 Iris-virginica
6.7 3.0 5.2 2.3 Iris-virginica
6.3 2.5 5.0 1.9 Iris-virginica
6.5 3.0 5.2 2.0 Iris-virginica
6.2 3.4 5.4 2.3 Iris-virginica
5.9 3.0 5.1 1.8 Iris-virginica

##**Iris Values**

Problem Statement

Find and print the minimum, maximum and average value of the feature for each kind of flower ?

Note: Get the dataset from here

Print the value with two decimal places.

Note: Order for flower is Iris-setosa, Iris-versicolor and Iris-virginica.

Output Format

minSL minSW minPL minPW Iris-setosa

maxSL maxSW maxPL maxPW Iris-setosa

avgSL avgSW avgPL avgPW Iris-setosa

. . .

In [3]:
import pandas as pd   
data_file=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header=None)
data_file.columns = ['sl', 'sw', 'pl', 'pw', 'flower_type']

for n in ['Iris-setosa','Iris-versicolor','Iris-virginica']:
    file=data_file[data_file.flower_type==n]
    data=file.describe()
    data.loc['avg']=[sum(file.sl)/50.0,sum(file.sw)/50.0,sum(file.pl)/50.0,sum(file.pw)/50.0]
    
    for i in ['min','max','avg']:
        for j in ['sl','sw','pl','pw']:
            print('%.2f'%data[j][i],end=" ")
        print(n)

4.30 2.30 1.00 0.10 Iris-setosa
5.80 4.40 1.90 0.60 Iris-setosa
5.01 3.42 1.46 0.24 Iris-setosa
4.90 2.00 3.00 1.00 Iris-versicolor
7.00 3.40 5.10 1.80 Iris-versicolor
5.94 2.77 4.26 1.33 Iris-versicolor
4.90 2.20 4.50 1.40 Iris-virginica
7.90 3.80 6.90 2.50 Iris-virginica
6.59 2.97 5.55 2.03 Iris-virginica

##**Terror Attack City**

Given file "terrorismData.csv"

It is an open-source database including information on terrorist attacks around the world from 1970 through 2017. This dataset includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period

Problem Statement :

The Most Dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city?

Print count of number of attacks in that city as integer value.

Note:Ignoring the Unknown Terrorist Group.Here Dangerous related with the number of terrorist attacks.

Output Format :

City NumberOfAttack Group

In [ ]:
import pandas as pd  

df=pd.read_csv(r"terrorismData.csv")
df=df[df.State=='Jammu and Kashmir']
df=df[df.City==df.City.describe().top]

count=df.shape[0]
df=df[df.Group!='Unknown']

city=df.City.describe().top
group=df.Group.describe().top

print(city, count, group)

##**Terror Government**

Given file "terrorismData.csv"

It is an open-source database including information on terrorist attacks around the world from 1970 through 2017. This dataset includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period

Problem Statement :

There was formation of new government in India on 26 May 2014. So current government's span is from 26th May 2014 to current. Find out two things from this period-

1. Total number of attacks done in this period in India. Find this count as integer.

2. Which Terrorist group was most active in this period in India. Most active means, group which has done maximum number of attacks. 

3. Ignore the Unknown group. 

Output Format :

TotalAttacks MostActiveTerroristGroup

In [ ]:
import pandas as pd   

df = pd.read_csv(r"terrorismData.csv")
a = df[df.Day >= 26]
b = a[a.Year == 2014]
c = b[b.Country=='India']
ans1 = c[c.Month==5]

del a
del b
del c

a = df[df.Year == 2014]
b = a[a.Country == 'India']
ans2 = b[b.Month > 5]

del a
del b

a = df[df.Country == 'India']
ans3 = a[a.Year > 2014]

count = ans1.shape[0] + ans2.shape[0] + ans3.shape[0]
print(count, end=' ')

ans1=ans1[ans1.Group!='Unknown']
ans2=ans2[ans2.Group!='Unknown']
ans3=ans3[ans3.Group!='Unknown']
print(ans3.Group.describe().top)

##**Terror Frequency**

Given file "terrorismData.csv"

It is an open-source database including information on terrorist attacks around the world from 1970 through 2017. This dataset includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period

Problem Statement :

Find the frequency of the Casualty in Red Corridor states and in Jammu and Kashmir ? Here Frequency is (Total Casualty/Total Number of a year)

Print frequency as integer value.

Note: Red Corridor state includes Jharkhand, Odisha, Andhra Pradesh, and Chhattisgarh. Here Casualty = Killed + Wounded. Don't fill the nan value present in Killed and Wounded feature.

Output Format :

Frequency1 Frequency2

In [ ]:
import pandas as pd 
import numpy as np
df_terrorism=pd.read_csv(r"terrorismData.csv")
year=len(set(df_terrorism['Year']))

df_terrorism=df_terrorism[df_terrorism['Country']=='India']

df_terrorism['Casualty']=df_terrorism['Killed']+df_terrorism['Wounded']

Jammu_state=df_terrorism[df_terrorism['State']=='Jammu and Kashmir']

red_state=df_terrorism[(df_terrorism['State']=='Jharkhand')|(df_terrorism['State']=='Odisha')|(df_terrorism['State']=='Andhra Pradesh')|(df_terrorism['State']=='Chhattisgarh')]

red_casualty=int(np.sum(red_state['Casualty']))

Jammu_casualty=int(np.sum(Jammu_state['Casualty']))

print(red_casualty//year,Jammu_casualty//year)

##**Terror DeadliestAttack**

Given file "terrorismData.csv"

It is an open-source database including information on terrorist attacks around the world from 1970 through 2017. This dataset includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period

Problem Statement :

Most Deadliest attack in a history of HumanKind?

Print count of Killed people as integer value.

Note: Here Deadliest attack means, in which the most number of people killed.

Output Format :

NumberOfPeopleKilled Country TerroristGroup

In [ ]:
import pandas as pd 
import numpy as np

df = pd.read_csv(r"terrorismData.csv")
df = df[df.Killed == df.Killed.max()]

killed = df.Killed.iloc[0]
country = df.Country.iloc[0]
group = df.Group.iloc[0]

print(int(killed), country, group)

##**Terror Attack**

Given file "terrorismData.csv"

It is an open-source database including information on terrorist attacks around the world from 1970 through 2017. This dataset includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period

Problem Statement :

Find out the Country with Highest Number of Terror Attack and in which year the most number of terrorist attack happened in that country ?

Print count of terror attacks as integer value.

Output Format :

Country NumberOfAttack Year

In [ ]:
import pandas as pd 
import numpy as np

df = pd.read_csv(r"terrorismData.csv")
df = df[df.Country == df.Country.describe().top]
count = df.shape[0]
country = df.Country.describe().top

y = {}

for i in df.Year:
    if i in y.keys():
        y[i] += 1
    else:
        y[i] = 1

cnt = 0
year = 0

for i in y.keys():
    if cnt < y[i]:
        cnt = y[i]
        year = i

print(country, count, year)