## Count of Flower

Find and print count of each kind of flower (separated by space)?

Note: Get the dataset from here

Print the count as Integer Value.

Output Format

count1 count2 count3 .....

In [2]:
import pandas as pd

column_name = ['SeapalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Species']
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names = column_name)

for i in iris['Species'].value_counts():  # value_counts() - return a series containing counts of unique values
    print(i, end = " ")

50 50 50

## Iris Virginica

Find the data of flower “Iris-virginica” type where petal-length > 1.5?

Note: Get the dataset from here

Print the all the feature values.

Output Format

feature1 feature2 feature3 feature4 feature5

feature1 feature2 feature3 feature4 feature5

feature1 feature2 feature3 feature4 feature5

feature1 feature2 feature3 feature4 feature5

. . .

. . .

. . .

In [5]:
import pandas as pd

column_name = ['SeapalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Species']
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names = column_name)

iris = iris[iris['Species'] == 'Iris-virginica']
iris = iris[iris['PetalLength'] > 1.5]
x = iris.values   # df.values - only the values in the DataFrame will be returned, the axes labels will be removed

for i in range(iris.shape[0]):  # df.shape - return a tuple representing the dimensionality of the DataFrame
    for j in range(iris.shape[1]):
        print(x[i][j], end = " ")
    print()

6.3 3.3 6.0 2.5 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
7.1 3.0 5.9 2.1 Iris-virginica
6.3 2.9 5.6 1.8 Iris-virginica
6.5 3.0 5.8 2.2 Iris-virginica
7.6 3.0 6.6 2.1 Iris-virginica
4.9 2.5 4.5 1.7 Iris-virginica
7.3 2.9 6.3 1.8 Iris-virginica
6.7 2.5 5.8 1.8 Iris-virginica
7.2 3.6 6.1 2.5 Iris-virginica
6.5 3.2 5.1 2.0 Iris-virginica
6.4 2.7 5.3 1.9 Iris-virginica
6.8 3.0 5.5 2.1 Iris-virginica
5.7 2.5 5.0 2.0 Iris-virginica
5.8 2.8 5.1 2.4 Iris-virginica
6.4 3.2 5.3 2.3 Iris-virginica
6.5 3.0 5.5 1.8 Iris-virginica
7.7 3.8 6.7 2.2 Iris-virginica
7.7 2.6 6.9 2.3 Iris-virginica
6.0 2.2 5.0 1.5 Iris-virginica
6.9 3.2 5.7 2.3 Iris-virginica
5.6 2.8 4.9 2.0 Iris-virginica
7.7 2.8 6.7 2.0 Iris-virginica
6.3 2.7 4.9 1.8 Iris-virginica
6.7 3.3 5.7 2.1 Iris-virginica
7.2 3.2 6.0 1.8 Iris-virginica
6.2 2.8 4.8 1.8 Iris-virginica
6.1 3.0 4.9 1.8 Iris-virginica
6.4 2.8 5.6 2.1 Iris-virginica
7.2 3.0 5.8 1.6 Iris-virginica
7.4 2.8 6.1 1.9 Iris-virginica
7.9 3.8 6.4 2.0 Iris-virginica
6.4 2.8 5.6 2.2 Iris-virginica
6.3 2.8 5.1 1.5 Iris-virginica
6.1 2.6 5.6 1.4 Iris-virginica
7.7 3.0 6.1 2.3 Iris-virginica
6.3 3.4 5.6 2.4 Iris-virginica
6.4 3.1 5.5 1.8 Iris-virginica
6.0 3.0 4.8 1.8 Iris-virginica
6.9 3.1 5.4 2.1 Iris-virginica
6.7 3.1 5.6 2.4 Iris-virginica
6.9 3.1 5.1 2.3 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
6.8 3.2 5.9 2.3 Iris-virginica
6.7 3.3 5.7 2.5 Iris-virginica
6.7 3.0 5.2 2.3 Iris-virginica
6.3 2.5 5.0 1.9 Iris-virginica
6.5 3.0 5.2 2.0 Iris-virginica
6.2 3.4 5.4 2.3 Iris-virginica
5.9 3.0 5.1 1.8 Iris-virginica

## Iris Values

Find and print the minimum, maximum and average value of the feature for each kind of flower ?

Note: Get the dataset from here
    
Print the value with two decimal places.

Note: Order for flower is Iris-setosa, Iris-versicolor and Iris-virginica.
    
Output Format:

minSL minSW minPL minPW Iris-setosa

maxSL maxSW maxPL maxPW Iris-setosa

avgSL avgSW avgPL avgPW Iris-setosa

. . .

. . .

. . .

In [11]:
import pandas as pd

column_name = ['SeapalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Species']
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names = column_name)

species1 = 'Iris-setosa'
species2 = 'Iris-versicolor'
species3 = 'Iris-virginica'

speciesdetail1 = iris[iris['Species'] == species1].describe()
speciesdetail2 = iris[iris['Species'] == species2].describe()
speciesdetail3 = iris[iris['Species'] == species3].describe()

## Print the details of first species
for i in speciesdetail1.iloc[[3]].values[0]:
    print(format(i, '.2f'), end = " ")
print(species1)
for i in speciesdetail1.iloc[[7]].values[0]:
    print(format(i, '.2f'), end = " ")
print(species1)
for i in speciesdetail1.iloc[[1]].values[0]:
    print(format(i, '.2f'), end = " ")
print(species1)

## Print the details of second species
for i in speciesdetail2.iloc[[3]].values[0]:
    print(format(i, '.2f'), end = " ")
print(species2)
for i in speciesdetail2.iloc[[7]].values[0]:
    print(format(i, '.2f'), end = " ")
print(species2)
for i in speciesdetail2.iloc[[1]].values[0]:
    print(format(i, '.2f'), end = " ")
print(species2)

## Print the details of third species
for i in speciesdetail3.iloc[[3]].values[0]:
    print(format(i, '.2f'), end = " ")
print(species3)
for i in speciesdetail3.iloc[[7]].values[0]:
    print(format(i, '.2f'), end = " ")
print(species3)
for i in speciesdetail3.iloc[[1]].values[0]:
    print(format(i, '.2f'), end = " ")
print(species3)

4.30 2.30 1.00 0.10 Iris-setosa
5.80 4.40 1.90 0.60 Iris-setosa
5.01 3.42 1.46 0.24 Iris-setosa
4.90 2.00 3.00 1.00 Iris-versicolor
7.00 3.40 5.10 1.80 Iris-versicolor
5.94 2.77 4.26 1.33 Iris-versicolor
4.90 2.20 4.50 1.40 Iris-virginica
7.90 3.80 6.90 2.50 Iris-virginica
6.59 2.97 5.55 2.03 Iris-virginica

## Terror Attack City

The Most Dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city?

Print count of number of attacks in that city as integer value.

Note : Ignoring the Unknown Terrorist Group.Here Dangerous related with the number of terrorist attacks.

Output Format :

City NumberOfAttack Group

In [17]:
import pandas as pd

path = 'terrorismData.csv'

df = pd.read_csv(path, encoding = 'utf8')
df = df[df['State'] == 'Jammu and Kashmir']

city_list = df['City'].value_counts()
city = city_list.index[0]
attack = city_list.values[0]

df = df[df['City'] == city]
group = df['Group'].value_counts().index[1]  # the group at first position is unknown

print(city, attack, group)

Srinagar 657 Muslim Separatists

## Terror Government

There was formation of new government in India on 26 May 2014. So current government's span is from 26th May 2014 to current. Find out two things from this period-

1. Total number of attacks done in this period in India. Find this count as integer.

2. Which Terrorist group was most active in this period in India. Most active means, group which has done maximum number of attacks. 

3.Ignore the Unknown group. 

Output Format :

TotalAttacks MostActiveTerroristGroup

In [20]:
import pandas as pd

path = 'terrorismData.csv'

df = pd.read_csv(path, encoding = 'utf8')
df = df[df['Country'] == 'India']
df = df[df['Year'] >= 2014]

index1 = df[(df['Year'] == 2014) & (df['Month'] < 5)].index
index2 = df[(df['Year'] == 2014) & (df['Month'] == 5) & (df['Day'] < 26)].index

# delete these row indexes from dataFrame
df.drop(index1, inplace = True)
df.drop(index2, inplace = True)

attack = df.shape[0]  # number of rows
group = df['Group'].value_counts().index[1]
print(attack, group)

3336 Maoists

## Terror Frequency

Find the frequency of the Casualty in Red Corridor states and in Jammu and Kashmir ?Here Frequency is (Total Casualty/Total Number of a year)

Print frequency as integer value.

Note : Red Corridor state includes Jharkhand, Odisha, Andhra Pradesh, and Chhattisgarh. Here Casualty=Killed +Wounded.Don't fill the nan value present in Killed and Wounded feature.
    
Output Format :
    
Frequency1 Frequency2

In [24]:
import pandas as pd
import numpy as np

df = pd.read_csv('terrorismData.csv')
year = len(set(df['Year']))

df = df[df['Country'] == 'India']
df['Casualty'] = df['Killed'] + df['Wounded']

Jammu_state = df[df['State'] == 'Jammu and Kashmir']
red_state = df[(df['State'] == 'Jharkhand') | (df['State'] == 'Odisha') | (df['State'] == 'Andhra Pradesh') | (df['State'] == 'Chhattisgarh')]
red_casualty = int(np.sum(red_state['Casualty']))
Jammu_casualty = int(np.sum(Jammu_state['Casualty']))

print(red_casualty // year, Jammu_casualty // year)

115 261

## Terror DeadliestAttack

Most Deadliest attack in a history of HumanKind?

Print count of Killed people as integer value.

Note : Here Deadliest attack means, in which the most number of people killed.

Output Format :

NumberOfPeopleKilled Country TerroristGroup

In [27]:
import pandas as pd

path = 'terrorismData.csv'

df = pd.read_csv(path, encoding = 'utf8')
maxKilled = max(df['Killed'])
group = df[df['Killed'] == maxKilled]['Group'].values[0]
country = df[df['Killed'] == maxKilled]['Country'].values[0]

print(int(maxKilled), country, group)

1570 Iraq Islamic State of Iraq and the Levant (ISIL)

## Terror Attack

Find out the Country with Highest Number of Terror Attack and in which year the most number of terrorist attack happened in that country ?

Print count of terror attacks as integer value.

Output Format :

Country NumberOfAttack Year

In [28]:
import pandas as pd

path = 'terrorismData.csv'

df = pd.read_csv(path, encoding = 'utf8')
country_list = df['Country'].value_counts()
country = country_list.index[0]
attack = country_list.values[0]

df = df[df['Country'] == country]
year = df['Year'].value_counts().index[0]

print(country, attack, year)

Iraq 24636 2014