## TMDb 1.1

Find the 'id' of the movie "Andhadhun" using TMDb API.

In [ ]:
import requests
import json

api_link = "https://api.themoviedb.org/3"
params = {'query' : 'Andhadhun', 'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
header = {'Accept' : 'application/json'}
response = requests.get(api_link + "/search/movie", headers = header, params = params)
data = response.json()
results = data.get('results')
for result in results:
  if result.get('title') == 'Andhadhun':
    print(result.get('id'))

534780

## TMDb 1.2

Fetch the company id company 'Marvel Studios' using TMDb. Print the id.

In [ ]:
import requests
import json

api_link = "https://api.themoviedb.org/3"
params = {'query' : 'Marvel Studios', 'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
header = {'Accept' : 'application/json'}
response = requests.get(api_link + "/search/company", headers = header, params = params)
data = response.json()
results = data.get('results')
for result in results:
  if result.get('name') == 'Marvel Studios':
    print(result.get('id'))

420

## TMDb 1.3

Find the vote count and vote average of the movie "3 Idiots" using the TMDb API

In [ ]:
import requests
import json

api_link = "https://api.themoviedb.org/3"
params = {'query' : '3 Idiots', 'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
header = {'Accept' : 'application/json'}
response = requests.get(api_link + "/search/movie", headers = header, params = params)
data = response.json()
results = data.get('results')
for result in results:
  if result.get('title') == '3 Idiots':
    print(result.get('vote_count'), result.get('vote_average'))

1982 8

## TMDb 1.4

Fetch the names of top 5 similar movies to 'Inception' from the TMDb API.

Note : While fetching the movie id, use the "original_title" field not the "title". Because the "title" field may contain duplicate values.

In [1]:
import requests
import json

api_link = "https://api.themoviedb.org/3"
params = {'query' : 'Inception', 'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
header = {'Accept' : 'application/json'}
response = requests.get(api_link + "/search/movie", headers = header, params = params)
data = response.json()
results = data.get('results')
for result in results:
  if result.get('original_title') == 'Inception':
    id = result.get('id')

In [3]:
param = {'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
response = requests.get(api_link + "/movie/" + str(id) + "/similar", headers = header, params = param)
data = response.json()
results = data.get('results')
for result in results[:5]:
  print(result.get("title"))

The Call
Triple 9
RED 2
The Wind Rises
Inherent Vice

## TMDb 1.5

Fetch the top rated english movies in the US region using the TMDb API. From the result, print the first 10 movies which have original language as english. Also print their genres.

Note: Do not use the search/movies API for finding genres.

In [4]:
import requests
import json

api_link = "https://api.themoviedb.org/3"
params = {'region' : 'US', 'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
header = {'Accept' : 'application/json'}
response = requests.get(api_link + "/movie/top_rated", headers = header, params = params)
data = response.json()
results = data.get('results')
title_array = []
genre_id_array = []
for result in results:
  if result.get('original_language') == 'en':
    title_array.append(result.get('title'))
    genre_id_array.append(result.get('genre_ids'))

In [5]:
response = requests.get(api_link + "/genre/movie/list", headers = header, params = params)
data = response.json()
genres = data.get('genres')
mapping = {}

for genre in genres:
  mapping[genre.get('id')] = genre.get('name')

for i in range(10):
  print(title_array[i], "-", end = " ")
  for id in genre_id_array[i]:
    print(mapping.get(id), end = ", ")
  print()

The Godfather - Drama, Crime,
The Shawshank Redemption - Drama, Crime,
The Godfather Part II - Drama, Crime,
Schindler's List - Drama, History, War,
Puss in Boots: The Last Wish - Animation, Action, Adventure, Comedy, Family, Fantasy,
12 Angry Men - Drama,
The Green Mile - Fantasy, Drama, Crime,
The Dark Knight - Drama, Action, Crime, Thriller,
Pulp Fiction - Thriller, Crime,
Gabriel's Inferno - Romance,

## TMDb 2.1

Find the name and birthplace of the present most popular person according to TMDb API.

In [10]:
import requests
import json

api_link = "https://api.themoviedb.org/3"
params = {'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
header = {'Accept' : 'application/json'}
response = requests.get(api_link + "/person/popular", headers = header, params = params)
data = response.json()
id_of_most_popular = data.get('results')[0].get('id')

In [11]:
name_of_most_popular = data.get('results')[0].get('name')
response = requests.get(api_link + "/person" + str(id_of_most_popular), headers = header, params = params)
data = response.json()
print(id_of_most_popular)
print(name_of_most_popular, "-", data.get('place_of_birth'))

2359226
Aya Asahina - None

## TMDb 2.2

Fetch the Instagram and Twitter handle of Indian Actress "Alia Bhatt" from the TMDb API.

In [10]:
import requests
import json

api_link = "https://api.themoviedb.org/3"
params = {'query' : 'Alia Bhatt', 'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
header = {'Accept' : 'application/json'}
response = requests.get(api_link + '/search/person', headers = header, params = params)
data = response.json()
id = data.get('results')[0].get('id')

In [11]:
params = {'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
response = requests.get(api_link + '/person/' + str(id) + '/external_ids', headers = header, params = params)
data = response.json()
print(data.get('instagram_id'), data.get('twitter_id'))

aliaabhatt Aliaa08

## TMDb 2.3

Fetch the names of the character played by Tom Cruise in the movies:

Top Gun

Mission : Impossible - Fallout

Minority 

Edge of Tomorrow

In [12]:
import requests
import json

api_link = "https://api.themoviedb.org/3"
params = {'query' : 'Tom Cruise', 'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
header = {'Accept' : 'application/json'}
response = requests.get(api_link + '/search/person', headers = header, params = params)
data = response.json()
id = data.get('results')[0].get('id')

In [13]:
params = {'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
response = requests.get(api_link + '/person/' + str(id) + '/movie_credits', headers = header, params = params)
data = response.json()
cast_result = data.get('cast')
for cast in cast_result:
  if cast.get('original_title') == 'Top Gun':
    print(cast.get('character'))
for cast in cast_result:
  if cast.get('original_title') == 'Mission: Impossible - Fallout':
    print(cast.get('character'))
for cast in cast_result:
  if cast.get('original_title') == 'Minority Report':
    print(cast.get('character'))
for cast in cast_result:
  if cast.get('original_title') == 'Edge of Tomorrow':
    print(cast.get('character'))

Lt. Pete 'Maverick' Mitchell
Ethan Hunt
Chief John Anderton
Maj. William 'Bill' Cage

## TMDb 2.4

Did James McAvoy play a role in the movie Deadpool 2. Print Yes or No.

In [14]:
import requests
import json

api_link = "https://api.themoviedb.org/3"
params = {'query' : 'Deadpool 2', 'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
header = {'Accept' : 'application/json'}
response = requests.get(api_link + '/search/movie/', headers = header, params = params)
data = response.json()
results = data.get('results')

In [15]:
for result in results:
  if result.get('original_title') == 'Deadpool 2':
    id = result.get('id')

In [16]:
params = {'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
response = requests.get(api_link + '/movie/' + str(id) + '/credits', headers = header, params = params)
data = response.json()
cast_array = data.get('cast')
for cast in cast_array:
  if cast.get('name') == 'James McAvoy':
    print('Yes')
    flag = True
if not flag:
  print('No')

Yes

## TMDb 2.5

Using the result obtained in previous question, find out if James McAvoy was credited for his role in movie Deadpool. Print Yes or No.

In [1]:
import requests
import json

api_link = "https://api.themoviedb.org/3"
params = {'query' : 'Deadpool 2', 'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
header = {'Accept' : 'application/json'}
response = requests.get(api_link + '/search/movie/', headers = header, params = params)
data = response.json()
results = data.get('results')

In [2]:
for result in results:
  if result.get('original_title') == 'Deadpool 2':
    id = result.get('id')

In [3]:
params = {'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
response = requests.get(api_link + '/movie/' + str(id) + '/credits', headers = header, params = params)
data = response.json()
cast_array = data.get('cast')
for cast in cast_array:
  if cast.get('name') == 'James McAvoy':
    info = cast
    break
if 'uncredited' in info.get('character'):
  print('No')
else:
  print('Yes')

No

## TMDb 3.1

Fetch the overview of the TV Show "FRIENDS" using TMDb API.

In [4]:
import requests
import json

api_link = "https://api.themoviedb.org/3"
params = {'query' : 'Friends', 'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
header = {'Accept' : 'application/json'}
response = requests.get(api_link + '/search/tv/', headers = header, params = params)
data = response.json()
results = data.get('results')
for result in results:
  if result.get('name') == 'Friends':
    print(result.get('overview'))

Six young people from New York City, on their own and struggling to survive in the real world, find the companionship, comfort and support they get from each other to be the perfect antidote to the pressures of life.

## TMDb 3.2

Fetch the name and air date of S06E05 of the TV Show 'The Big Bang Theory' from TMDb API.

In [2]:
import requests
import json

api_link = "https://api.themoviedb.org/3"
params = {'query' : 'The Big Bang Theory', 'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
header = {'Accept' : 'application/json'}
response = requests.get(api_link + '/search/tv/', headers = header, params = params)
data = response.json()
results = data.get('results')

In [3]:
for result in results:
  if result.get('name') == 'The Big Bang Theory':
    id = result.get('id')

In [4]:
params = {'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
response = requests.get(api_link + '/tv/' + str(id) + '/season/6/episode/5', headers = header, params = params)
data = response.json()
print(data.get('name'), '-', data.get('air_date'))

The Holographic Excitation - 2012-10-25

## TMDb 3.3

Fetch the trending TV Shows for the week from the TMDb API and print the taglines of the top 5 shows. If there is no tagline, print 'Empty' instead

In [5]:
import requests
import json

api_link = "https://api.themoviedb.org/3"
params = {'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
header = {'Accept' : 'application/json'}
response = requests.get(api_link + '/trending/tv/week', headers = header, params = params)
data = response.json()
results = data.get('results')

In [6]:
ids = []
for result in results[:5]:
  ids.append(result.get('id'))
for id in ids:
  response = requests.get(api_link + '/tv/' + str(id), headers = header, params = params)
  data = response.json()
  if (data.get('tagline')) != "":
    print(data.get('tagline'))
  else:
    print('Empty')

There are 7 billion ways to solve a crime.
Empty
Empty
Kneel to no one.
The next great adventure begins.

## TMDb 3.4

Print the names of all the TV shows to be aired today whose original language is english.

In [9]:
import requests
import json

api_link = "https://api.themoviedb.org/3"
params = {'language' : 'en', 'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
header = {'Accept' : 'application/json'}
response = requests.get(api_link + '/tv/airing_today/', headers = header, params = params)
data = response.json()
page_number = data.get('total_pages')

In [10]:
for i in range(1, page_number + 1):
  params = {'language' : 'en', 'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf', 'page' : i}
  response = requests.get(api_link + '/tv/airing_today/', headers = header, params = params)
  data = response.json()
  results = data.get('results')
  for result in results:
    if result.get('original_language') == 'en':
      print(result.get('name'))

Bhagya Lakshmi
Cuomo
The Price Is Right
PBS NewsHour
Richard Osman's House of Games
The Repair Shop
PAW Patrol
S.W.A.T.
General Hospital
Emmerdale
Days of Our Lives
Jeopardy!
Blue Bloods
Wheel of Fortune
Let's Make a Deal
LIVE with Kelly and Ryan
Nakarehas Na Puso
Access Hollywood
Death in Paradise
The Young and the Restless
Good Morning America
Tamron Hall
The Graham Norton Show
House Hunters
The View
RuPaul's Drag Race
Ancient Aliens
Pictionary
Coronation Street
Alex Wagner Tonight
BMF
Gold Rush
Father Brown
Lingo
QI
Hollyoaks
GRAND SUMO Highlights
The Drew Barrymore Show
Transplant
The Bold and the Beautiful
Young Rock
Shark Tank
The Patrick Star Show
Fire Country
Would I Lie to You?
Access Daily
Superkitties
Live at the Apollo
Travel Man: 48 Hours in...
The Jennifer Hudson Show
Country House Hunters: New Zealand
All Elite Wrestling: Rampage
Love After Lockup
Rabb Se Hai Dua
SpongeBob SquarePants
Destination Fear
Boys in Blue
A Football Life
The Test
The Proof Is Out There
Naked News
The ReidOut
The Hairy Bikers Go Local
On Patrol: Live
MotorWeek
The Nature of Things
Michael Fassbender: Road to Le Mans
Lopez vs. Lopez
WWE NXT: Level Up
Break Point
Off the Record
On Patrol: First Shift
Dr. Phil
WWE SmackDown
Attaway General
Rachael Ray
CBS Evening News
Car Pound Cops: Give Me My Car Back!
Amanda & Alans Italian Job
Master Minds
25 Words or Less
Gold, Lies & Videotape
DreamWorks Inspiration Station (Africa)

## TMDb 3.5

Count the number of males and females in the cast of "Money Heist" using the TMDb API.

In [11]:
import requests
import json

api_link = "https://api.themoviedb.org/3"
params = {'query' : 'Money Heist', 'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
header = {'Accept' : 'application/json'}
response = requests.get(api_link + '/search/tv/', headers = header, params = params)
data = response.json()
results = data.get('results')

In [12]:
for result in results:
  if result.get('name') == 'Money Heist':
    id = result.get('id')

In [13]:
params = {'api_key' : 'f6f907bad3a2e3bbbc0eeeec2ed00bdf'}
response = requests.get(api_link + '/tv/' + str(id) + '/credits', headers = header, params = params)
data = response.json()
cast = data.get('cast')

count_male = 0
count_female = 0
for i in cast:
  if i.get('gender') == 1:
    count_female += 1
  if i.get('gender') == 2:
    count_male += 1

print(count_male, count_female)

10 5