## **Limitations of Linear Regression**

Linear regression, though a very powerful algorithm, has certain disadvantages
1. **Main limitation of Linear Regression** is the assumption of linearity between the dependent variable and the independent variables. In the real world, the data is almost never linearly separable. The assumption that there is a straight line relationship is usually wrong.

2. **Prone to noise and overfitting:** If the number of observations are lesser than the number of features, Linear Regression should not be used, otherwise it may lead to overfit, and the relationship thus formed will be noisy.

3. **Prone to outliers:** Linear regression is very sensitive to outliers. An outlier can be considered as an anomaly. It refers to a datapoint which has no clear relationship with any other data point in the data. So, outliers should be analyzed and removed before applying Linear Regression to the dataset, or the linear relationship formed would be highly skewed.

Let's explore the first limitation in detail. Have a look at the following graph:

<img src="https://files.codingninjas.in/graph_gd-7051.jpg" width="350">

In the above figure, it is quite clear, that the linear line formed will not correctly predict the results of data points(shown in blue).

Thus, we need to plot more complex boundaries.

## **Plotting More Complex Boundaries**

As we have learnt in the previous modules, **Function or Hypothesis** of Linear Regression is represented by -
$y = m_1.x_1 + m_2.x_2 + m_3.x_3 + … + m_n.x_n + b$.
This is essentially a line of the form $ y = mx + c$.

To plot more complex boundaries, we need to have an equation of higher degree. For example:
1. $ y = m_1x^2 + m_2x + c $
2. $ y = m_1x^3 + m_2x^2 + m_3x + c$

So, the basic idea to do this, is to add dummy features in our dataset. Suppose the current data set has three features: $x_1, x_2 $ and $x_3$.

The equation for the above dataset would be :

$y = m_1.x_1 + m_2.x_2 + m_3.x_3 + b$.

We can add dummy features to our dataset by enhancing the already existing features. One of the most common method is to create a feature, which is the product of already existing features. Let us create a new feature, $x_{12}$ which is the product of $x_1$ and $x_2$.

The equation for the above dataset would be :

$y = m_1.x_1 + m_2.x_2 + m_3.x_3 + m_4.x_{12}+ b$.

where the term $x_{12}$ is essentially a quadratic term.

We can add more features like $x_{31}$ and $x_{23}$. And we are not just limited to quadratic terms, we may also add cubic terms like $x_{123}$.
Other logarithimic and trignometric functions may also be used to plot more complex boundaries.

Let's look at an example of how to add a feature into our dataframe.

### **Example on how to code complex boundaries**

In [1]:
import numpy as np
import pandas as pd

In [2]:
train_data = np.loadtxt("https://files.codingninjas.in/0000000000002419_training_ccpp_x_y_train-7050.csv", delimiter=",")
x = train_data[:,:-1]
y = train_data[:,-1]
x

array([[   8.58,   38.38, 1021.03,   84.37],
       [  21.79,   58.2 , 1017.21,   66.74],
       [  16.64,   48.92, 1011.55,   78.76],
       ...,
       [  29.8 ,   69.34, 1009.36,   64.74],
       [  16.37,   54.3 , 1017.94,   63.63],
       [  30.11,   62.04, 1010.69,   47.96]])

In [3]:
li = ['x1','x2','x3','x4']
df = pd.DataFrame(x)
df.columns = li
df

         x1     x2       x3     x4
0      8.58  38.38  1021.03  84.37
1     21.79  58.20  1017.21  66.74
2     16.64  48.92  1011.55  78.76
3     31.38  71.32  1009.17  60.42
4      9.20  40.03  1017.05  92.46
...     ...    ...      ...    ...
7171   9.32  37.73  1022.14  79.49
7172  11.20  41.38  1021.65  61.89
7173  29.80  69.34  1009.36  64.74
7174  16.37  54.30  1017.94  63.63
7175  30.11  62.04  1010.69  47.96

[7176 rows x 4 columns]

In [4]:
for i in range(4):
    for j in range(i, 4):
        ele = li[i] + "_" + li[j]
        df[ele] = df[li[i]]*df[li[j]]

df

,x1,x2,x3,x4,x1_x1,x1_x2,x1_x3,x1_x4,x2_x2,x2_x3,x2_x4,x3_x3,x3_x4,x4_x4
0,8.58,38.38,1021.03,84.37,73.6164,329.3004,8760.4374,723.8946,1473.0244,39187.1314,3238.1206,1.042502e+06,86144.3011,7118.2969
1,21.79,58.20,1017.21,66.74,474.8041,1268.1780,22165.0059,1454.2646,3387.2400,59201.6220,3884.2680,1.034716e+06,67888.5954,4454.2276
2,16.64,48.92,1011.55,78.76,276.8896,814.0288,16832.1920,1310.5664,2393.1664,49485.0260,3852.9392,1.023233e+06,79669.6780,6203.1376
3,31.38,71.32,1009.17,60.42,984.7044,2238.0216,31667.7546,1895.9796,5086.5424,71974.0044,4309.1544,1.018424e+06,60974.0514,3650.5764
4,9.20,40.03,1017.05,92.46,84.6400,368.2760,9356.8600,850.6320,1602.4009,40712.5115,3701.1738,1.034391e+06,94036.4430,8548.8516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7171,9.32,37.73,1022.14,79.49,86.8624,351.6436,9526.3448,740.8468,1423.5529,38565.3422,2999.1577,1.044770e+06,81249.9086,6318.6601
7172,11.20,41.38,1021.65,61.89,125.4400,463.4560,11442.4800,693.1680,1712.3044,42275.8770,2561.0082,1.043769e+06,63229.9185,3830.3721
7173,29.80,69.34,1009.36,64.74,888.0400,2066.3320,30078.9280,1929.2520,4808.0356,69989.0224,4489.0716,1.018808e+06,65345.9664,4191.2676
7174,16.37,54.30,1017.94,63.63,267.9769,888.8910,16663.6778,1041.6231,2948.4900,55274.1420,3455.1090,1.036202e+06,64771.5222,4048.7769
7175,30.11,62.04,1010.69,47.96,906.6121,1868.0244,30431.8759,1444.0756,3848.9616,62703.2076,2975.4384,1.021494e+06,48472.6924,2300.1616

In the above dataset, we had 4 existing features. Using them, we added 10 dummy features who have a quadratic degree. Similar methods can be used to add cubic degree too.

**But remember! Don't try to add many extra dummy features, as it leads to overfitting the data, leading to incorrect results.**

In [5]:
from sklearn import datasets

In [6]:
# Ignore warnings
import warnings
warnings.filterwarnings("ignore", category = FutureWarning)

In [7]:
# Loading the dataset (get the features, output and description about the dataset)
boston = datasets.load_boston() 
boston

{'data': array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
         4.9800e+00],
        [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
         9.1400e+00],
        [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
         4.0300e+00],
        ...,
        [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         5.6400e+00],
        [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
         6.4800e+00],
        [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         7.8800e+00]]),
 'target': array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
        18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
        15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
        13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
        21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
        35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
        19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
        20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
        23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
        33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
        21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
        20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
        23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
        15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
        17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
        25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
        23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
        32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
        34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
        20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
        26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
        31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
        22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
        42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
        36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
        32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
        20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
        20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
        22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
        21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
        19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
        32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
        18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
        16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
        13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
         7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
        12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
        27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
         8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
         9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
        10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
        15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
        19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
        29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
        20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
        23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9]),
 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'),
 'DESCR': ".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n",
 'filename': 'boston_house_prices.csv',
 'data_module': 'sklearn.datasets.data'}

In [8]:
# Getting the input features (numpy array)
X = boston.data

# Getting the output (numpy array)
Y = boston.target

In [9]:
# Shape of the input features (it's a numpy array). Output : (rows, columns/features)
X.shape

(506, 13)

In [10]:
# To move ahead with the data, we convert it into a dataframe
import pandas as pd
df = pd.DataFrame(X)

# By default, the dataframe is created in such a way where the row names are from (0 to 505) and the column names are from (0 to 12). We change the column names to the feature names of the dataset
df.columns = boston.feature_names

# describe the dataframe (to check if the features have string/NaN values)
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [11]:
# Splitting the data into test and train data (randomly without any bias)
from sklearn import model_selection

# The random state parameter controls the shuffling process. Here we get the same train and test sets across different executions
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, random_state = 0)

In [12]:
# Checking the shape of the data (to check the percentage of data taken to train and test the algorithm)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(379, 13)
(127, 13)
(379,)
(127,)

In [13]:
# Using sklearn to import the classifier/algorithm
from sklearn.linear_model import LinearRegression

# Creating the algorithm object that we can use to train and then test the data
alg1 = LinearRegression()

In [14]:
# Fitting/training the data
alg1.fit(X_train, Y_train)

LinearRegression()

In [15]:
# Predicting the output
Y_pred = alg1.predict(X_test)

# Finding the Train Score
train_score = alg1.score(X_train, Y_train)

# Finding the Test Score
test_score = alg1.score(X_test, Y_test)

print("Train Score :", train_score)
print("Test Score :", test_score)

Train Score : 0.7697699488741149
Test Score : 0.6354638433202144

For the Boston dataset, your task is to add all 2 degree features to the dataset and compare scores for the original dataset and new dataset with added features.

In [16]:
# Adding all 2 degree features to the dataset
for i in range(13):
    for j in range(i, 13):
        ele = df.columns[i] + "_" + df.columns[j]
        df[ele] = df[df.columns[i]]*df[df.columns[j]]

df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,TAX_TAX,TAX_PTRATIO,TAX_B,TAX_LSTAT,PTRATIO_PTRATIO,PTRATIO_B,PTRATIO_LSTAT,B_B,B_LSTAT,LSTAT_LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,...,506.000000,506.000000,506.00000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,...,195006.197628,7702.055336,138823.11502,5818.871146,345.284447,6547.619334,239.290334,135534.645253,4274.823238,210.993989
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,...,157613.919181,3732.003358,64619.91997,5083.126041,76.318094,1837.557901,145.807763,41830.850997,2613.501822,236.061920
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,...,34969.000000,2692.800000,213.12000,498.960000,158.760000,6.464000,25.431000,0.102400,5.580800,2.992900
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,...,77841.000000,4913.600000,101240.04000,2051.340000,302.760000,6140.250000,122.942000,140908.274275,2355.214275,48.303700
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,...,108900.000000,5924.100000,119658.91500,3724.380000,362.905000,7078.025500,205.030000,153225.273700,3804.722600,129.050000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,...,443556.000000,13453.200000,160982.30250,8489.782500,408.040000,7695.286500,334.360500,156994.250700,5640.628650,287.472100
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,...,505521.000000,14291.100000,282195.90000,25288.020000,484.000000,8421.600000,766.994000,157529.610000,15070.293000,1441.720900

In [17]:
# Getting the input features (numpy array)
X = df.values

In [18]:
X.shape

(506, 104)

In [19]:
# Splitting the data into test and train data (randomly without any bias)
from sklearn import model_selection
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, random_state = 0)

In [20]:
# Checking the shape of the data (to check the percentage of data taken to train and test the algorithm)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(379, 104)
(127, 104)
(379,)
(127,)

In [21]:
# Creating the algorithm object that we can use to train and then test the data
alg2 = LinearRegression()

# Fitting/training the data
alg2.fit(X_train, Y_train)

LinearRegression()

In [22]:
# Predicting the output
Y_pred = alg2.predict(X_test)

# Finding the Train Score
train_score = alg2.score(X_train, Y_train)

# Finding the Test Score
test_score = alg2.score(X_test, Y_test)

print("Train Score :", train_score)
print("Test Score :", test_score)

Train Score : 0.9520519609032727
Test Score : 0.6074721959722745

Optimization is a big part of machine learning. Almost every machine learning algorithm has an optimization algorithm at it’s core. Lets look at a very important yet simple optimization algorithm that you can use with any machine learning algorithm.

## **Gradient Descent**

Gradient descent is an optimization algorithm used to find the values of parameters (coefficients) of a function (f) that minimizes a cost function (cost).

Gradient descent is best used when the parameters cannot be calculated analytically (e.g. using linear algebra) and must be searched for by an optimization algorithm.

#### **Intuition of Gradient Descent**

Think of a large bowl like what you would eat cereal out of or store fruit in. This bowl is a plot of the cost function (f) in 3D space.

A random position on the surface of the bowl is the cost of the current values of the coefficients (cost). The bottom of the bowl is the cost of the best set of coefficients, the minimum of the function.

The goal is to continue to try different values for the coefficients, evaluate their cost and select new coefficients that have a slightly better (lower) cost.
Repeating this process enough times will lead to the bottom of the bowl and you will know the values of the coefficients that result in the minimum cost.

So our aim is to reach the line 
$$ y^p = mx + c $$, 
such that cost function
$$ cost = \sum_i (y_i - (mx_i + c))^2 $$
is minimised.
Here, m are the coefficents of the features.

The graph of our cost function will look like this :

<img src = "	https://files.codingninjas.in/graph_gd2-7053.jpg" width = "400">

where, $Cost_{min}$ and $m_{min}$ are the minimum values of $Cost$ and $m$ respectively.

The idea is to select $m$ and $cost$ randomly in the beginning. Then, we will find the slope.

If the slope is positive, the selected $m$ is to the right of $m_{min}$.

If the slope is negative, the selected $m$ is to the left of $m_{min}$.

Using the slope, the new optimised value of m ($m'$) can be calculated by :
$$ m' = m - \alpha(slope_m) $$

Also, optimised intercept $c$ can be calculated by :
$$ c' = c - \alpha(slope_c) $$

where,
$\alpha$ is the learning rate. 
$$ slope_m = \frac{\partial Cost}{\partial m} $$
and 
$$ slope_c = \frac{\partial Cost}{\partial c} $$

It is very easy to find the above two partials.
Taking the derivative of $Cost$ wrt $m$ gives us

$$ \frac{\partial Cost}{\partial m} = \frac{-2}{N}\sum_i(y_i - mx_i - c)x_i $$
Taking the derivative of $Cost$ wrt $c$ gives us

$$ \frac{\partial Cost}{\partial c} = \frac{-2}{N}\sum_i(y_i - mx_i - c) $$


Now the question arises, how many times do we optimise $m$ and $c$?

For each new value of $m$ and $c$, calculate the $Cost$ too. If all is done correclty, you will notice that with each new optimised value, optimised $Cost$ will keep decreasing.

So, we keep on optimising $m$ and $c$ till we reach a point, where the change is $Cost$ (ie, the decrease in cost) is very less.

#### **Learning Rate ($\alpha$) and its Importance**

How big the steps are gradient descent takes into the direction of the local minimum are determined by the learning rate, which figures out how fast or slow we will move towards the optimal weights.

For gradient descent to reach the local minimum we must set the learning rate to an appropriate value, which is neither too low nor too high. This is important because if the steps it takes are too big, it may not reach the local minimum because it bounces back and forth between the convex function of gradient descent (see left image below). If we set the learning rate to a very small value, gradient descent will eventually reach the local minimum but that may take a while (see the right image). 

<img src="https://files.codingninjas.in/gradient-descent-learning-rate-7052.png" width="550">

So, the learning rate should never be too high or too low for this reason. You can check if you’re learning rate is doing well by plotting it on a graph.

#### **Adaptive Learning Rate**

The performance of the model on the training dataset can be monitored by the learning algorithm and the learning rate can be adjusted in response. 
This is called an adaptive learning rate. 
Perhaps the simplest implementation is to make the learning rate smaller once the performance of the model plateaus, such as by decreasing the learning rate by a factor of two.

An adaptive learning rate method will generally outperform a model with a badly configured learning rate.

### **Let's code Gradient Descent for a Single Feature**

**Loading the dataset**

In [23]:
import numpy as np
data = np.loadtxt("https://files.codingninjas.in/data-6984.csv", delimiter=",")
data.shape

(100, 2)

In [24]:
training_data = data[:70,]
training_data.shape

(70, 2)

In [25]:
testing_data = data[70:,]
testing_data.shape

(30, 2)

**Now, using gradient descent, we will find the best values of m and c**

In [26]:
# This function finds the new gradient at each step
def step_gradient(points, learning_rate, m , c):
    m_slope = 0
    c_slope = 0
    M = len(points)
    for i in range(M):
        x = points[i, 0]
        y = points[i, 1]
        m_slope += (-2/M)* (y - m * x - c)*x
        c_slope += (-2/M)* (y - m * x - c)
    new_m = m - learning_rate * m_slope
    new_c = c - learning_rate * c_slope
    return new_m, new_c

In [27]:
# The Gradient Descent Function
def gd(points, learning_rate, num_iterations):
    m = 0       # Intial random value taken as 0
    c = 0       # Intial random value taken as 0
    for i in range(num_iterations):
        m, c = step_gradient(points, learning_rate, m , c)
        print(i, " Cost: ", cost(points, m, c))
    return m, c

In [28]:
# This function finds the new cost after each optimisation.
def cost(points, m, c):
    total_cost = 0
    M = len(points)
    for i in range(M):
        x = points[i, 0]
        y = points[i, 1]
        total_cost += (1/M)*((y - m*x - c)**2)
    return total_cost

In [29]:
def run():
    learning_rate = 0.0001
    num_iterations = 100
    m, c = gd(training_data, learning_rate, num_iterations)
    print("Final m :", m)
    print("Final c :", c)
    return m,c

In [30]:
m, c = run()

0  Cost:  1461.4044104341087
1  Cost:  460.8670268567474
2  Cost:  205.4870778024464
3  Cost:  140.30318108579826
4  Cost:  123.66545280139864
5  Cost:  119.41878332450108
6  Cost:  118.33484209854512
7  Cost:  118.05816441204072
8  Cost:  117.98753491264765
9  Cost:  117.96949772470519
10  Cost:  117.96488434447647
11  Cost:  117.96369729432573
12  Cost:  117.96338479030575
13  Cost:  117.96329550799736
14  Cost:  117.9632632015475
15  Cost:  117.9632454379033
16  Cost:  117.96323138633423
17  Cost:  117.96321828237488
18  Cost:  117.96320542041524
19  Cost:  117.96319262035338
20  Cost:  117.9631798362198
21  Cost:  117.96316705628094
22  Cost:  117.96315427754192
23  Cost:  117.96314149923846
24  Cost:  117.96312872117527
25  Cost:  117.96311594330255
26  Cost:  117.9631031656078
27  Cost:  117.9630903880875
28  Cost:  117.96307761074107
29  Cost:  117.96306483356811
30  Cost:  117.96305205656859
31  Cost:  117.96303927974257
32  Cost:  117.96302650309
33  Cost:  117.96301372661085
34  Cost:  117.96300095030523
35  Cost:  117.96298817417302
36  Cost:  117.96297539821425
37  Cost:  117.96296262242893
38  Cost:  117.96294984681701
39  Cost:  117.96293707137862
40  Cost:  117.96292429611363
41  Cost:  117.962911521022
42  Cost:  117.96289874610383
43  Cost:  117.96288597135916
44  Cost:  117.96287319678783
45  Cost:  117.96286042238998
46  Cost:  117.96284764816549
47  Cost:  117.9628348741145
48  Cost:  117.96282210023688
49  Cost:  117.9628093265326
50  Cost:  117.96279655300184
51  Cost:  117.96278377964448
52  Cost:  117.96277100646049
53  Cost:  117.96275823344999
54  Cost:  117.96274546061275
55  Cost:  117.96273268794901
56  Cost:  117.96271991545866
57  Cost:  117.96270714314169
58  Cost:  117.96269437099812
59  Cost:  117.9626815990279
60  Cost:  117.96266882723108
61  Cost:  117.96265605560774
62  Cost:  117.9626432841577
63  Cost:  117.96263051288103
64  Cost:  117.9626177417778
65  Cost:  117.9626049708479
66  Cost:  117.96259220009142
67  Cost:  117.96257942950821
68  Cost:  117.96256665909843
69  Cost:  117.96255388886206
70  Cost:  117.96254111879902
71  Cost:  117.96252834890933
72  Cost:  117.962515579193
73  Cost:  117.96250280965003
74  Cost:  117.96249004028041
75  Cost:  117.96247727108418
76  Cost:  117.96246450206127
77  Cost:  117.96245173321168
78  Cost:  117.96243896453551
79  Cost:  117.9624261960326
80  Cost:  117.96241342770308
81  Cost:  117.96240065954687
82  Cost:  117.96238789156405
83  Cost:  117.96237512375453
84  Cost:  117.9623623561184
85  Cost:  117.9623495886555
86  Cost:  117.96233682136597
87  Cost:  117.96232405424978
88  Cost:  117.96231128730685
89  Cost:  117.96229852053732
90  Cost:  117.96228575394112
91  Cost:  117.96227298751815
92  Cost:  117.96226022126854
93  Cost:  117.96224745519224
94  Cost:  117.96223468928922
95  Cost:  117.96222192355955
96  Cost:  117.96220915800318
97  Cost:  117.96219639262009
98  Cost:  117.96218362741031
99  Cost:  117.96217086237382
Final m : 1.458255777804894
Final c : 0.032397159787702676

It can be seen, that the cost for the last many iterations remains almost the same, which is 117.962.

For this cost, the final m is found to be 1.4582 and final c is found to be 0.0323.

These optimised values may then be plugged into our hypothesis funcion to find $y_{pred}$.

**Predictions**

In [31]:
def predict(final_m, final_c, testing_data):
    y_pred = []
    for i in range(len(testing_data)):
        ans = m*testing_data[i][0] + c
        y_pred.append(ans)
    return y_pred

In [32]:
y_pred = predict(m, c, testing_data)
y_pred

[46.095951282291885,
 78.28376167276944,
 68.10702680868928,
 62.8946250628685,
 102.61496837133335,
 64.91436131908361,
 83.8887150992528,
 53.885894749919025,
 81.41143026364702,
 56.838414234095204,
 83.00892226345628,
 82.96180012666355,
 50.09887462980676,
 86.14202346395936,
 84.30240868699974,
 79.18991662796913,
 74.5328181331299,
 73.35763378901311,
 64.50442501659097,
 55.45411963583681,
 48.06804235977706,
 78.32854078411849,
 100.31042647345949,
 67.44897116945312,
 99.65949980894587,
 72.98918795613403,
 71.83656946861555,
 73.00289789301861,
 70.24720708812089,
 36.67615508488324]

### **Using the inbuilt Gradient Booster**

In [33]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor()
x_train = training_data[:,0].reshape(-1, 1)
y_train = training_data[:,1]
model.fit(x_train,y_train)

GradientBoostingRegressor()

In [34]:
y_pred = model.predict(testing_data[:,0].reshape(-1, 1))
y_pred

array([33.05621077, 82.80773117, 73.60871863, 62.80258768, 85.242871  ,
       62.80258768, 77.29833337, 60.4283958 , 83.40209375, 58.3415076 ,
       83.40209375, 83.40209375, 51.3317227 , 77.88979793, 77.29833337,
       82.80773117, 75.26029188, 72.23701306, 62.80258768, 76.2986538 ,
       51.19104556, 82.80773117, 85.242871  , 73.60871863, 85.242871  ,
       78.9358657 , 79.11953733, 78.9358657 , 68.91225498, 33.05621077])

#### **Types of Gradient Descent**

***Batch Gradient Descent***

Batch gradient descent, also called vanilla gradient descent, calculates the error for each example within the training dataset, but only after all training examples have been evaluated does the model get updated. This whole process is like a cycle and it's called a training epoch.

Some advantages of batch gradient descent are that it's computationally efficient, it produces a stable error gradient and a stable convergence. Some disadvantages are the stable error gradient can sometimes result in a state of convergence that isn’t the best the model can achieve. It also requires the entire training dataset be in memory and available to the algorithm.

***Stochastic Gradient Descent***

By contrast, stochastic gradient descent (SGD) does this for each training example within the dataset, meaning it updates the parameters for each training example one by one. Depending on the problem, this can make SGD faster than batch gradient descent. One advantage is the frequent updates allow us to have a pretty detailed rate of improvement.

The frequent updates, however, are more computationally expensive than the batch gradient descent approach. Additionally, the frequency of those updates can result in noisy gradients, which may cause the error rate to jump around instead of slowly decreasing.

***Mini-Batch Gradient Descent***

Mini-batch gradient descent is the go-to method since it’s a combination of the concepts of SGD and batch gradient descent. It simply splits the training dataset into small batches and performs an update for each of those batches. This creates a balance between the robustness of stochastic gradient descent and the efficiency of batch gradient descent.

Common mini-batch sizes range between 50 and 256, but like any other machine learning technique, there is no clear rule because it varies for different applications. This is the go-to algorithm when training a neural network and it is the most common type of gradient descent within deep learning.